<!-- logback.xml -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders specify the format of the logged data -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- set the level of the root logger to DEBUG -->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>